.preloader {
  height: 100vh;
  width: 100%;
  background-color: rgb(236, 254, 255);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  height: 60px;
  width: 350px;
  font-size: 20px;
  font-weight: 400;
  color: #0f1b61;
  overflow: hidden;
}
