@font-face {
  font-family: "bangna";
  src: url("/fonts/bangna-new.ttf") format("ttf");
}
@import "tailwindcss";

:root {
}
@font-face {
  font-family: "bangna";
  src: url("/fonts/bangna-new.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

#root {
  text-align: center;
}
