@import "tailwindcss";

@font-face {
  font-family: "bangna";
  src: url("/public/fonts/bangna-new.ttf");
}

@theme {
  --font-bangna: bangna, sans-serif;
  --color-primary: #0f1b61;
  --color-secondary: #e4f0f8;
}

:root {
  font-family: bangna, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e4f0f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #0f1b61;
}

@media (max-width: 320px) {
  .screen-xxs {
    width: 20rem; /* ลดขนาดฟอนต์ */
  }

  .hero-xs {
    display: none; /* ซ่อนบาง element */
    margin-top: 10rem; /* ซ่อนบาง element */
  }
}
@media (max-width: 475px) {
  .screen-xss {
    width: 20rem; /* ลดขนาดฟอนต์ */
  }
  .small-font {
    font-size: 0.6rem;
  }
  .img-xs {
    width: 1rem;
  }
}
